{% extends 'base.html.twig' %}

{% block title %}Modify Profile{% endblock %}

{% block body %}

    <h1 class="text-center"> Modify Your Profile</h1>
    
    {{ form(form, { 'attr' : { 'class': 'mx-auto col-9 d-flex flex-column' } }) }}
    
    {% endblock %}