{% extends 'base.html.twig' %}

{% block title %}Find a Film{% endblock %}


{% block body %}



<p>This product uses the TMDB API but is not endorsed or certified by TMDB.</p>

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
  <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}

{% endblock %}