{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">Find a Film</h1>

{{ form(form, { 'attr' : { 'class': 'film_search mx-auto col-10 d-flex flex-column' } }) }}

<p id="noResults" class="h6 hidden">No results found. Try a different keyword and assure that your selected streaming services are available in your country.</p>

<div id="card-container" class="row row-cols-2 row-cols-md-4 g-4 col-11 mx-auto">
</div>
<div class="text-center">
<button id="pagination" class="hidden btn btn-secondary my-4">Load more</button>
</div>
<p id="endResults" class="hidden text-center h4 mt-4">End of results</p>


<p class="text-center small mt-3">This product uses the TMDB API and <a href="https://www.movieofthenight.com/about/api.">Streaming Availability API</a> but is not endorsed or certified by either.</p>

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
  <script src="js/search.js"></script>
{% endblock %}

{% endblock %}