{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<h1 class="text-center">Create an account</h1>

{{ form(form, { 'attr' : { 'class': 'mx-auto col-9 d-flex flex-column' } }) }}

<div class="col-5 mx-auto text-center mt-3">
    <h4>Already have an account?</h4>
    <a class="btn btn-sm btn-secondary mt-2 mb-4" href="{{ path('app_login')}}">Login</a>
 </div>
{% endblock %}
